content.main .topics {
  margin: 7px;
  font-size: 21px;
}

content.main .topics .bkt {
  font-size: x-large;
  color: #538ed4;
}

content.main md-divider {
  margin: 10px 0;
}

content.main md-card .md-subhead a {
  margin: 3px;
  color: #538ed4;
  text-decoration: underline;
}
