<sidenav></sidenav>
<toolbar></toolbar>
<content class="workshop" flex>

  <iframe class="video" ng-if="::workshop.item.video" ng-src="{{::workshop.trust(workshop.item.video)}}" frameborder="0" allowfullscreen></iframe>
  <div class="video" ng-if="::workshop.item && !workshop.item.video" layout="column" layout-align="center center">
    <i class="material-icons lock">lock</i>
  </div>
  <h3 class="md-headline block" ng-if="::workshop.item.title" ng-bind="::workshop.item.title"></h3>
  <img class="img" ng-if="::workshop.item.img" ng-src="{{::workshop.item.img}}">

  <div class="tags block" ng-if="::workshop.item.tags">
    <a class="link" ng-repeat="tag in ::workshop.item.tags" ng-bind="tag" ng-href="{{::workshop.tagHref(tag)}}"></a>
  </div>

  <div class="md-body-1 block" ng-if="::workshop.item.description" ng-bind="::workshop.item.description"></div>
  <div class="md-body-1 block" ng-if="::workshop.item.content" ng-bind="::workshop.item.content"></div>

  <div layout="row" layout-align="center center">
    <md-button ng-if="::workshop.item.prev" class="md-icon-button md-primary" aria-label="prev" ng-click="workshop.open(workshop.item.prev)">
      <i class="material-icons">navigate_before</i>
    </md-button>
    <md-button ng-if="::workshop.item.quiz" class="md-icon-button md-warn" aria-label="quiz" ng-click="workshop.link(workshop.item.quiz)">
      <i class="material-icons">school</i>
    </md-button>
    <md-button ng-if="::workshop.item.next" class="md-icon-button md-primary" aria-label="next" ng-click="workshop.open(workshop.item.next)">
      <i class="material-icons">navigate_next</i>
    </md-button>
  </div>

</content>

<footer></footer>
