.acme-malarkey {
  color: #4257cb;
}

.acme-malarkey:after {
  animation: cursor-blink 0.4s linear infinite;
  content: "|";
  color: #4257cb;
}

@keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
